* {
  background-color: salmon;
}

.kotak {
  height: 150px;
  transition: .4s;
}

.kotak:hover {
  background-color: black;
  height: 500px; 
}

.kotak img {
  width: 150px;
  height: 180px;
  border: dashed 3px black;
  transition: .1s;
}

.kotak:hover img {
  margin-top: 50%;
  margin-left: 30%;
  margin-bottom: 30%;
  margin-right: 30%;
  border-radius: 10%;
}
